div.center {
	height: 200px;
	width: 250px;
	text-align: center;
}
img#loading-img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
a[role=button] {
	color: #fff;
	border-color: #2e6da4;
	background-color: #3371b7;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4285;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	width: 50%;
	margin: 7px;
}
div.formats {
	margin-bottom: 5px;
}
p.error {
	color: red;
}
