body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
ul {
	display: block;
	list-style-type: disc;
	padding-left: 0px;
	margin: 3px 3px 0px;
}
ul li {
	display: list-item;
	list-style-type: none;
	box-sizing: border-box;
	position: relative;
}
li:active {
	color: green;
}
